{% extends 'main.html' %}
{% block content %}


<form class="'row" method="POST">
    {% csrf_token %}
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Year.label_tag }}</label>
            {{ form.Year}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Country.label_tag }}</label>
            {{ form.Country}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Name_Of_The_Plant.label_tag }}</label>
            {{ form.Name_Of_The_Plant}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Scientific_Name.label_tag }}</label>
            {{ form.Scientific_Name}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Local_Name.label_tag }}</label>
            {{ form.Local_Name}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Stock_Unit.label_tag }}</label>
            {{ form.Stock_Unit }}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Stock_Available.label_tag }}</label>
            {{ form.Stock_Available}}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Area_Unit.label_tag }}</label>
            {{ form.Area_Unit }}
        </div>
        <div class="col-md-6">
            <label for="" class="form-label">{{ form.Area_Covered.label_tag }}</label>
            {{ form.Area_Covered }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
</form>


{% endblock %}