{% extends 'main.html' %}

{% block content %}

<form method="GET" action=".">
    <div class="form-row  d-flex justify-content-center">
        <div class="form-group col-9">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search"
                    name="currency_product_originDestination"
                    placeholder="Search by Currency Type, Product Information or Origin/Destination" />
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum Quantity</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="quantity_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum Quantity</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="quantity_max">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="date_minimum">Publish date minimum</label>
            <input type="date" class="form-control" id="date_minimum"  name="date_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
            <label for="date_maximum">Publish date maximum</label>
            <input type="date" class="form-control" id="date_maximum" name="date_max">
        </div>

        <div class="form-group col-md-4">
            <label for="trade_type">Trade Type</label>
            <select id="trade_type" class="form-control" name="trade_type">
                <option selected>--</option>
                {% for trade_type in trade_type_categories %}
                <option value="{{trade_type}}">{{trade_type}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="country_category">Country</label>
            <select id="country_category" class="form-control" name="country_category">
                <option selected>--</option>
                {% for country_category in country_categories %}
                <option value="{{country_category.id }}">{{country_category}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="unit_category">Unit</label>
            <select id="unit_category" class="form-control" name="unit_category">
                <option selected>--</option>
                {% for unit_category in unit_categories %}
                <option value="{{unit_category.id }}">{{unit_category}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="hs_code">HS Code</label>
            <select id="hs_code" class="form-control" name="hs_code">
                <option selected>--</option>
                {% for hs_code in hs_codes %}
                <option value="{{hs_code.id }}">{{hs_code}}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<hr>
<div class="table-responsive">
    <table class="table  table-striped table-bordered ">
        <thead>
            <tr>
                <th scope="col">Trade_Type</th>
                <th scope="col">Calender</th>
                <th scope="col">Fiscal_Year</th>
                <th scope="col">Duration</th>
                <th scope="col">Country_Name</th>
                <th scope="col">HS_Code</th>
                <th scope="col">Unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Currency_Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Tarrif</th>
                <th scope="col">Origin_Destination</th>
                <th scope="col">TradersName_ExporterImporter</th>
                <th scope="col">Documents</th>
                <th scope="col">Product_Information</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for record in data %}
            <tr>
                <td>{{ record.Trade_Type }}</td>
                <td>{{ record.Calender }}</td>
                <td>{{ record.Fiscal_Year }}</td>
                <td>{{ record.Duration }}</td>
                <td>{{ record.Country_Name }}</td>
                <td>{{ record.HS_Code }}</td>
                <td>{{ record.Unit }}</td>
                <td>{{ record.Quantity }}</td>
                <td>{{ record.Currency_Type }}</td>
                <td>{{ record.Amount }}</td>
                <td>{{ record.Tarrif }}</td>
                <td>{{ record.Origin_Destination }}</td>
                <td>{{ record.TradersName_ExporterImporter }}</td>
                <td>{{ record.Documents }}</td>
                <td>{{ record.Product_Information }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock  %}