{% extends 'main.html' %} {% block content %}
<div class="d-flex">
  <button
  class="btn btn-sm px-4"
  data-bs-toggle="collapse"
  data-bs-target="#collapseFilter"
  aria-expanded="false"
  aria-controls="collapseFilter"
  style="background-color: #419197;font-size:14px;font-weight: 500; color: white;"

  >
    Filters
  </button>
</div>

<div>
  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-success px-1 py-1 alert-dismissible mt-2 " id="delete_selected_message" role="alert">
        {{m}}
        <button type="button" class="btn-close px-2 py-2 " data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
</div>



<div class="bg-light mt-3">

  <div class="collapse shadow rounded-2 " id="collapseFilter">
    <div class="px-2 py-2"> 
      <form class="row" method="GET" action="./water_table">
        
        <!-- <div class="form-group col-12">
                  <div class="input-group">
                      <input class="form-control py-2 border-right-0 border" type="search"
                          name="currency_product_originDestination"
                          placeholder="Search by Currency Type, Product Information or Origin/Destination" />
      
                  </div>
              </div> -->
  
        <div class="col-md-3">
          <label for="date_minimum">Calender Date Minimum</label>
          <input
            type="date"
            class="form-control"
            id="date_minimum"
            name="date_min"
          />
        </div>
        <div class="col-md-3">
          <label for="date_maximum">Calender Date Maximum</label>
          <input
            type="date"
            class="form-control"
            id="date_maximum"
            name="date_max"
          />
        </div>
  
        <div class="col-md-3">
          <label for="ViewNameOfPlant">Name of the plant </label>
          <input
            type="text"
            class="form-control"
            id="view_plant_Name"
            placeholder="e.g. saal"
            name="name_of_the_plant"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="country_category">Country</label>
          <select
            id="country_category"
            class="form-control"
            name="country_category"
          >
            <option selected>--</option>
            {% for country_category in country_categories %}
            <option value="{{country_category.id}}">{{country_category}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <label for="viewAreaUnit">Area Unit</label>
          <select id="area_unit" name="area_unit" class="form-control">
            <option selected>--</option>
            {% for area_unit in area_unit_categories %}
            <option value="{{area_unit.id}}">{{area_unit}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3">
          <label for="viewStockAvailable">Stock Available</label>
          <input
            type="number"
            min="0"
            class="form-control"
            id="viewStockAvailable"
            placeholder="1000"
            name="stock_available"
          />
        </div>
        <div class="col-md-3 d-flex align-items-end">
          <button type="submit" class=" btn btn-primary">
            Search
          </button> 
        </div>
      </form>
    </div>
  </div>
</div>
<div class="fs-4 fw-bold text-center">Forest Data</div>

{% if query_len == 0 %}
<div class="bg-light p-4 text-center fw-normal mt-4 text-danger">
  No Records
</div>
{% else %}

<div>
  <form method="post" action="{% url 'delete_selected_water' %}" id="delete-form-water">
    {% csrf_token %}
    <div class="table-responsive mt-4 bg-light">
      <div class="d-flex align-items-center justify-content-between px-2">
        <span class="text-danger fs-6 fw-lighter mb-1">
          * {{data_len}} records found.
        </span>
        <div class="d-flex align-items-center py-2">
          <button type="button" class="btn border p-2 styled-link mx-3 hover-shadow" onclick="confirmDeleteAll()">
            <i class="fa-regular fa-trash-can" style="color: #ff0000"></i>
              <span class="fw-normal">Delete Selected</span>
          </button>
            <a
              href="{% url 'export_forest_table_to_excel' %}?{{ request.GET.urlencode }}"
              class="border p-2 styled-link"
            >
            <i class="fa-solid fa-table"></i>
            <span class="fw-normal">Export to Excel</span>
            </a>
        </div>
      </div>
      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th class="text-white fw-semibold fs-6  " scope="col"  style="background:#12486B;">
              <input
              type="checkbox"
              id="select-all"
              onclick="toggleSelectAll()"
            />
            </th>
            <th class="text-white fst-normal " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
              Year
            </th>
            <th class="text-white fst-normal  " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;" >
              Country
            </th>
            <th class=" text-white fst-normal  " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
              Code_Type
            </th>
            <th class=" text-white fst-normal " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
                Description
            </th>
            <th class=" text-white fst-normal " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
                Unit
            </th>
            <th class=" text-white fst-normal  " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
                Volume_In_Cubic_Meter
            </th>
            <th class=" text-white fst-normal " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
              Name_Of_The_River
            </th>
            <th class=" text-white fst-normal " scope="col" style="font-size:14px; font-weight: 500; background: #12486B;">
                Action
            </th>
          </tr>
        </thead>
    
        <tbody class="table-hover">
          {% for record in page %}
          <tr>
            <td class=" text-white fw-semibold fs-6" scope="col">
              <input
              type="checkbox"
              class="item-checkbox"
              name="selected_items"
              value="{{ record.id }}"
            />
            </td>
            <td >{{ record.Year }}</td>
            <td>{{ record.Country }}</td>
            <td>{{ record.Water_Type_Code.Code }}</td>
            <td>{{ record.Description }}</td>
            <td>{{ record.Unit }}</td>
            <td>{{ record.Volume }}</td>
            <td>{{ record.Name_Of_The_River }}</td>
            <td class="d-flex">
              <div class="btn">
                <a
                  class=""
                  id="delete_water"
                  onclick="confirmDelete('{{record.id}}')"
                  ><i class="fa-regular fa-trash-can" style="color: #ff0000"></i></a>
                  
              </div>
    
              <div class="btn ">
                <a
                  class=""
                  href="{% url 'update_water_record' record.id %}"

                  ><i class="fa-regular fa-pen-to-square" style="color: rgb(3, 10, 86)"></i></a>
              </div>
            </td>
          </tr>
    
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </form>
</div>

{% endif %}



<script>
  function confirmDelete(itemId) {
      var result = confirm("Are you sure you want to delete this record?");
      if (result) {
          // User clicked "OK"
          // Redirect to the Django view for deleting the item
          window.location.href = 'delete_water_record/' + itemId + '/';
      } else {
          // User clicked "Cancel" or closed the dialog
          alert("Delete canceled!");
      }
  }

  function confirmDeleteAll() {
        var confirmDelete = confirm(
          "Are you sure you want to delete all selected items?"
        );
        if (confirmDelete) {
          document.getElementById("delete-form-water").submit();
        }
      }
  

  setTimeout(function(){
    var success_message=document.getElementById('delete_selected_message');
    if(success_message){
      success_message.style.transition = "opacity 2s";
      success_message.style.opacity = '0';

      setTimeout(function() {
        success_message.style.display='none';
      }, 3000);
    }
  }, 3000);
  </script>
  
{% endblock %}