{% extends 'main.html' %}
{% block content %}
<div class="container p-2">

    <div class="row">
        <div class="alert alert-danger col-8" role="alert">
            Cannot add the following duplicate records.
            <a href="{% url 'download_duplicate_excel' %}" class="alert-link">Export to Excel?</a>
        </div>
    </div>


    <div class="row">
        <div class="">
            <table class="table table-responsive table-sm table-striped">
                <thead>
                    <tr>
                        <th class="p-2">Row</th>
                        {% for key, _ in duplicate_data.0.data.items %}  
                            <th class="p-2">{{ key|title }}</th>
                        {% endfor %}
                    </tr>
                    
                </thead>
                <tbody>
                    {% for data in duplicate_data %}
                    <tr>
                        <td>{{ data.row_index }}</td>
                        {% for key, value in data.data.items %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>


</div>


{% endblock content %}